<h1>About Me</h1>

<p>Thanks for stopping to check out my blog! So here's a little about me: I'm a thirty-five year-old ex-teacher who
  is in training to become a software developer! I love the summer, reading, cats, hiking, boardgames and pinterest!
  I am also a certified integrative nutrition health coach. I chose to get certified to help myself and others. I was
  really sick and new I could feel better! It took me a long time to find the specialists who would really help me
  (acupuncturist, chiropractic neurologist, and many health bloggers). The results were amazing so I decided to learn
  more about it and spread the word about the healing power of nutrition. </p>
</p>